<section layout="row" layout-align="space-around center" layout-sm="column" class="L9-footer-container">
	<!-- 1st column -->
	<div flex="40" layout-padding>
		<h1 class="text-center">
			<ng-md-icon icon="mail"></ng-md-icon>
			Subscribe to Lab916
		</h1>
		<p>Built by <a href="http://lab916.com" target="_blank">Lab916</a></p>
		<p>We're still developing this app so we'll be adding more features and functionality </p>
	</div>

	<!-- 2nd column -->
	<div flex="30" >
		<ul class="L9-ul-none">
			<li><b><u>Lab916.com Progress</u></b></li>
			<li>Code initial UI and basic Authentication
				<ng-md-icon icon="check"></ng-md-icon>
			</li>
			<li>Implement Backend API to CRUD data
				<ng-md-icon icon="error"></ng-md-icon>
			</li>
			<li>Integrate 3rd party API's
				<ng-md-icon icon="error"></ng-md-icon>
			</li>
			<li>Write Unit & e2e tests
				<ng-md-icon icon="error"></ng-md-icon>
			</li>
			<li>Make UI even prettier for awesome UX, <i>near future</i>
				<ng-md-icon icon="error"></ng-md-icon>
			</li>
		</ul>
	</div>

	<!-- 3rd column -->
	<div flex layout-padding>
		<p><a href="http://site1.julius3d.com" target="_blank">CONTACT US</a></p>
		<p><a href="http://material.julius3d.com" target="_blank">ORDERING & PAYMENT</a></p>
		<p><a href="https://juliusproto.firebaseapp.com" target="_blank">SHIPPING</a></p>
		<p><a href="https://tedfeed.firebaseapp.com" target="_blank">RETURNS</a></p>
		<p><a href="http://julius3d.com" target="_blank">FAQ</a></p>
		<p><a href="http://julius3d.com" target="_blank">SIZING GUIDE</a></p>
	</div>

	<!-- 4th column -->
	<div flex layout-padding>
		<p><a href="#">WORK WITH US</a></p>
		<p><a href="#">PRIVACY POLICY</a></p>
		<p><a href="#">TERMS & CONDITIONS</a></p>
		<p><a href="#">PRESS ENQUIRIES</a></p>
	</div>
</section>

<!-- Social Media Links -->
<section layout="row" layout-sm="column" layout-align="center center" class="L9-footer-container">
	<div flex="10">
		<a href="#">
			<ng-md-icon icon="facebook"></ng-md-icon>
		</a>
	</div>
	<div flex="10">
		<a href="#">
			<ng-md-icon icon="twitter"></ng-md-icon>
		</a>
	</div>
	<div flex="10">
		<a href="#">
			<ng-md-icon icon="linkedin"></ng-md-icon>
		</a>
	</div>
</section>

<!-- Copyright -->
<section layout="row" layout-sm="column" layout-align="center center" class="L9-footer-container L9-text-center">
	<div flex="60">
		<h1>&copy; 2018 Lab916 Sacramento, California</h1>
	</div>
</section>


