<section layout="row" layout-xs="column" layout-sm="column" layout-align="space-around center" layout-padding
         class="L9-sub-footer-container">
    <!-- Left column -->
    <div flex flex-gt-sm="20" class="L9-text-center L9-sub-footer-col">
        <p class="L9-para"><strong>TALK TO US</strong></p>
        <img src="http://lab916.wpengine.com/img/t-sf-icon-solutions.jpg" alt="img" width="100%">
    </div>
    <!-- Middle column -->
    <div flex flex-gt-sm="20" class="L9-text-center L9-sub-footer-col">
        <p class="L9-para"><strong>SOLUTIONS</strong></p>
        <img src="http://lab916.wpengine.com/img/t-sf-icon-quote.jpg" alt="img" width="100%">
    </div>
    <!-- Right column -->
    <div flex flex-gt-sm="20" class="L9-text-center L9-sub-footer-col">
        <p class="L9-para"><strong>GET A QUOTE</strong></p>
        <img src="http://lab916.wpengine.com/img/t-sf-icon-talk.jpg" alt="img" width="100%">
    </div>
</section>
<section ng-transclude class="L9-sub-footer-translude L9-text-center"></section>