<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Lab916</title>

    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="description" content="Amazon Optimization Specialists">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/jq-owl/owl.carousel.min.css">
    <link rel="stylesheet" href="bower_components/jq-owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/sass/lab916.css">
    <!-- endbuild -->

    <!-- ng-cloak -->
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        html, body {
            background-color: #ffffff !important;
        }
    </style>
</head>

<body ng-app="L9-app" ng-cloak ng-controller="CoreCtrl as ctrl">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">
    upgrade your browser</ato improve your experience.</p>
<![endif]-->

<!-- L9-material Horizontal navigation -->
<div id="L9-main-nav" class="topnav">
    <a href="#" class="L9-nav-logo">
        <img src="https://static1.squarespace.com/static/58486f891b631beb1bea6ebe/t/5871c70e6b8f5b2a8ee6d964/1500779111862/?format=1500w"
             alt="logo" width="80px">
        <small>AMAZON OPTIMIZATION SPECIALISTS</small>
    </a>

    <!--<a class="active" href="#home">Home</a>-->
    <a ng-click="ccToggleTempDrop()" class="L9-whyL9-dropdown">
        WHY LAB916 <strong><ng-md-icon icon="keyboard_arrow_down"></ng-md-icon></strong>
    </a>
    <a ui-sref="contact">GET A QUOTE</a>
    <a ui-sref="case-studies">CASE STUDIES</a>
    <a ui-sref="what-we-do">SERVICES</a>
    <md-content class="md-padding">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="1"
                    placeholder="Search">
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{ctrl.searchText}}" were found.
                    <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>
        </form>
    </md-content>
</div>

<div id="L9-temp2-drop-nav" class="L9-temp-drop-down-nav" ng-class="{'L9-base-temp-drop': ccTempDropAnim}">
    <ul>
        <li class="L9-link"><a href="#!/service-puddle1">service-puddle1</a></li>
        <li class="L9-link"><a href="#!/service-puddle2">service-puddle2</a></li>
        <li class="L9-link"><a href="#!/why-us">why lab916?</a></li>
        <li class="L9-link"><a href="#!/uit1">about us</a></li>
        <li class="L9-link"><a href="#!/resources">resources</a></li>
        <li class="L9-link"><a href="#!/blog">blog</a></li>
        <li class="L9-link"><a href="#!/careers">careers</a></li>
    </ul>
</div>

<!-- application entry point -->
<ui-view autoscroll="true"></ui-view>

<br>

<button id="L9-scroll2top" class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button"
        ng-click="ccScrollTop()" aria-label="Back to Top">
    <ng-md-icon role="img" aria-hidden="true" icon="keyboard_arrow_up"></ng-md-icon>
</button>

<!-- footer -->
<lab-sub-footer ng-if="ccShowHomeSubFooter">Get. More. Sales.</lab-sub-footer>
<lab-footer></lab-footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
            (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- jQuery <3 <3 <3 \^_^/ :) :) :)-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jq-owl/owl.carousel.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app.js"></script>
<!-- services -->
<!--<script src="services/ser.auth.js"></script>-->
<!--<script src="services/ser.job.post.js"></script>-->
<!-- controllers -->
<script src="core.ctrl.js"></script>
<!--<script src="states/landing/ctrl.landing.js"></script>-->
<!--<script src="states/auth/ctrl.auth.js"></script>-->
<!--<script src="states/post/ctrl.post.js"></script>-->
<script src="states/ui-prac/ctrl.ui.prac.js"></script>
<script src="states/lab916/ctrl.lab916.js"></script>
<script src="states/lab916/dir.fba.sec.js"></script>
<script src="states/lab916/dir.clients.worked.with.js"></script>
<script src="states/what-we-do/ctrl.what-we-do.js"></script>
<script src="states/pages/ctrl.pages.js"></script>
<script src="layout/footer/dir.footer.js"></script>
<script src="layout/footer/dir.sub.footer.js"></script>
<script src="states/pages/dir.full-view-hero.js"></script>
<script src="states/pages/dir.l9-resource-card.js"></script>
<!-- endbuild -->

</body>
</html>
