h1, h2, h3, h4, h5, h6, p {
  font-family: Roboto, sans-serif; }

ul {
  text-decoration: none;
  list-style: none; }

.L9-w800px {
  width: 800px; }

.L9-opa50 {
  opacity: 0.5;
  border: solid 1px #52565f; }

.L9-what-we-do-title {
  font-weight: 300;
  font-size: 24px;
  color: #52565f;
  line-height: 36px; }

.L9-h100 {
  height: 100%; }

.L9-pad8 {
  padding: 12px; }

h2.L9-h2 {
  font-weight: 300;
  font-size: 46px;
  color: #eccf2f; }

.L9-search-form {
  display: inline-block;
  float: right;
  padding: 16px; }

.L9-services-quote-img {
  background: url(http://static2.businessinsider.com/image/55d4ccbf2acae717448bf0ce-480/barack-obama-smile.jpg) no-repeat center/cover;
  height: 400px;
  width: 100%; }

@media screen and (max-width: 959px) {
  .L9-services-quote-img {
    width: 100vw; } }

.L9-services-quote-txt {
  margin-top: 95px;
  padding: 32px; }

.L9-bg-c1 {
  background-color: #8C9BAA;
  min-height: 400px; }
  .L9-bg-c1 h1, .L9-bg-c1 h2, .L9-bg-c1 h3, .L9-bg-c1 h4, .L9-bg-c1 h5, .L9-bg-c1 h6 {
    padding-top: 170px; }

.L9-w100 {
  width: 100%; }

section.L9-service-hero {
  background: url(../../images/hero-banner.jpg) no-repeat center/cover;
  color: #ffffff;
  height: 60%; }
  section.L9-service-hero h1, section.L9-service-hero h2, section.L9-service-hero h3 {
    color: #ffffff; }

section.L9-service-sbs {
  height: 400px; }

div.L9-left-sbs-img {
  position: relative; }
  div.L9-left-sbs-img img {
    position: absolute;
    top: -320px;
    left: -410px;
    max-width: 800px; }
  @media screen and (min-width: 1060px) {
    div.L9-left-sbs-img img {
      left: -350px; } }
  @media screen and (min-width: 1160px) {
    div.L9-left-sbs-img img {
      left: -310px; } }
  @media screen and (min-width: 1260px) {
    div.L9-left-sbs-img img {
      left: -270px; } }
  @media screen and (min-width: 1360px) {
    div.L9-left-sbs-img img {
      left: -230px; } }
  @media screen and (min-width: 1460px) {
    div.L9-left-sbs-img img {
      left: -190px; } }
  @media screen and (min-width: 1560px) {
    div.L9-left-sbs-img img {
      left: -150px; } }
  @media screen and (min-width: 1680px) {
    div.L9-left-sbs-img img {
      left: -90px; } }
  @media screen and (min-width: 1780px) {
    div.L9-left-sbs-img img {
      top: -290px;
      left: -50px; } }

div.L9-right-sbs-img {
  position: relative; }
  div.L9-right-sbs-img img {
    position: absolute;
    top: -320px;
    right: -440px;
    max-width: 800px;
    box-shadow: -5px 10px 18px rgba(201, 197, 224, 0.7); }
  @media screen and (min-width: 1060px) {
    div.L9-right-sbs-img img {
      right: -380px; } }
  @media screen and (min-width: 1160px) {
    div.L9-right-sbs-img img {
      right: -340px; } }
  @media screen and (min-width: 1260px) {
    div.L9-right-sbs-img img {
      right: -300px; } }
  @media screen and (min-width: 1360px) {
    div.L9-right-sbs-img img {
      right: -260px; } }
  @media screen and (min-width: 1460px) {
    div.L9-right-sbs-img img {
      right: -220px; } }
  @media screen and (min-width: 1560px) {
    div.L9-right-sbs-img img {
      right: -180px; } }
  @media screen and (min-width: 1680px) {
    div.L9-right-sbs-img img {
      right: -120px; } }
  @media screen and (min-width: 1780px) {
    div.L9-right-sbs-img img {
      top: -290px;
      right: -80px; } }

h2.L9-h2-sbs {
  font-weight: 300;
  font-size: 34px;
  color: #eccf2f; }

p.L9-p-sbs {
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #8C9BAA; }

div.L9-para {
  color: #52565f;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px; }

.L9-sub-footer-translude {
  color: #c4bd14;
  background-color: whitesmoke;
  padding: 16px; }

.L9-content-opt-fw-img {
  background: url(../../images/L9-ph-lg.jpg) no-repeat center/cover;
  height: 70vh; }

.L9-content-opt-row4 div.lhs-img {
  background: url(http://via.placeholder.com/500x900) no-repeat center/cover;
  height: 100vh; }

.L9-content-opt-row4 div.rhs-txt {
  padding-left: 42px; }

.L9-whyL9-dropdown {
  cursor: pointer; }

.md-fab.docs-scroll-fab {
  position: fixed !important;
  transition: transform 0.2s; }

button#L9-scroll2top {
  background: #c4bd14; }

.L9-temp-drop-down-nav {
  text-align: right;
  padding-right: 32px;
  position: relative;
  top: -38px; }
  .L9-temp-drop-down-nav li.L9-link {
    cursor: pointer;
    padding: 8px 16px;
    display: inline-block; }
    .L9-temp-drop-down-nav li.L9-link a {
      text-decoration: none; }
  .L9-temp-drop-down-nav li.L9-link:hover {
    background-color: #eccf2f;
    color: #ffffff; }

.L9-content-opt-row2 div.rhs {
  background: url(http://via.placeholder.com/500x900) no-repeat center/cover;
  height: 100vh; }

.L9-content-opt-hero {
  background: url(../../images/L9-ph-lg.jpg) no-repeat center/cover;
  height: 100vh; }

.L9-hero-landing .L9-hero-landing-inner {
  width: 1020px; }

.L9-hero-landing h1.L9-hero-h1 {
  color: #52565f;
  font-weight: 300;
  font-size: 54px;
  margin-bottom: 0; }

.L9-hero-landing p {
  color: #52565f;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px; }

.L9-hero-landing .L9-hero-img {
  position: absolute;
  right: -70px;
  bottom: 0; }

.L9-hero-landing .L9-lwrap {
  width: 580px; }

.L9-hero-landing .L9-pos-rel {
  position: relative; }

.L9-figcaption {
  color: #aaaaaa;
  font-size: 16px; }

.L9-simple-centered-header {
  position: relative;
  top: 25px; }

.L9-full-width-next-service-link {
  min-height: 250px;
  background: url(../../images/full-width-short-img.jpg) no-repeat center/cover; }

.L9-sub-footer-container {
  padding: 8px; }

.L9-footer-container {
  background: #424242;
  /*color: #fdb311;*/
  color: whitesmoke; }
  .L9-footer-container a {
    color: #ffffff;
    text-decoration: none; }

.L9-footer-container h1 {
  color: whitesmoke; }

.L9-text-center {
  text-align: center; }

.L9-ul-none {
  list-style-type: none; }

.L9-ul-none > li {
  margin-top: 8px; }

.L9-text-right {
  text-align: right; }

.L9-text-left {
  text-align: left; }

.L9-w33 {
  width: 33%; }

.L9-hero-h1 {
  font-size: 48px;
  color: whitesmoke; }

.L9-btn {
  padding: 12px; }

.L9-hero-landing-629px {
  height: auto;
  width: 100%; }

@media screen and (min-width: 1200px) {
  .L9-hero-landing-629px {
    height: 629px; } }

.L9-bg-hero-img {
  background-image: url(../images/hero-banner-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  padding: 24px; }

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #fdb311;
  text-align: center;
  padding: 32px 16px;
  text-decoration: none;
  font-size: 17px; }

.topnav a.L9-nav-logo {
  float: left;
  padding: 2px; }

.topnav a.L9-nav-logo > img {
  vertical-align: middle; }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #434343; }

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fdb311;
  color: white; }
