body {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: Roboto, sans-serif; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 29px; }

h3 {
  font-size: 23px;
  font-weight: 400; }

h1.L9-hero-h1 {
  color: #52565f;
  font-weight: 300;
  font-size: 54px;
  margin-bottom: 0; }

/********************************
    -- L9 initial ui code --
**********************************/
/**
    -- ng anim prac --
**/
.div-inline {
  display: inline-block; }

.left-150 {
  position: absolute;
  left: -160px; }

#prac1-wrapper.jbaseclass-add,
#prac1-wrapper.jbaseclass-remove {
  transition: padding 200ms linear; }

#prac1-wrapper.jbaseclass,
#prac1-wrapper.jbaseclass-add-active {
  padding-left: 250px; }

#prac1-wrapper.jbaseclass-add #sidediv-wrapper,
#prac1-wrapper.jbaseclass-remove #sidediv-wrapper,
#prac1-wrapper.jbaseclass-add .left-150,
#prac1-wrapper.jbaseclass-remove .left-150 {
  transition: left 200ms linear; }

#prac1-wrapper.jbaseclass-add-active #sidediv-wrapper,
#prac1-wrapper.jbaseclass #sidediv-wrapper {
  left: 150px; }

#prac1-wrapper.jbaseclass-add-active .left-150,
#prac1-wrapper.jbaseclass .left-150 {
  left: 320px; }

#L9-temp2-drop-nav.L9-base-temp-drop-add,
#L9-temp2-drop-nav.L9-base-temp-drop-remove {
  transition: all 200ms linear; }

#L9-temp2-drop-nav.L9-base-temp-drop,
#L9-temp2-drop-nav.L9-base-temp-drop-add-active {
  top: -38px;
  opacity: 1;
  display: block;
  height: 35px; }

.L9-temp-drop-down-nav {
  text-align: right;
  padding-right: 32px;
  position: relative;
  top: -125px;
  opacity: 0;
  height: 0; }
  .L9-temp-drop-down-nav li.L9-link {
    cursor: pointer;
    padding: 8px 16px;
    display: inline-block;
    transition: all 200ms linear; }
    .L9-temp-drop-down-nav li.L9-link a {
      text-decoration: none;
      color: inherit; }
  .L9-temp-drop-down-nav li.L9-link:hover {
    background-color: #eccf2f;
    color: #ffffff; }

md-input-container.md-icon-float > ng-md-icon {
  top: 8px;
  left: 2px;
  right: auto; }

ul {
  text-decoration: none;
  list-style: none; }

.L9-service-puddle-height4 {
  height: 440px; }
  .L9-service-puddle-height4 .L9-h1 {
    margin-top: 6px; }

section.L9-service-puddle-x1 div.L9-x1-left {
  background: url(http://via.placeholder.com/600x800) no-repeat center/cover;
  height: 100vh; }

section.L9-service-puddle-x1 div.L9-x1-left-proto {
  height: 49.9vh;
  background-color: #eccf2f;
  padding: 2px; }

section.L9-service-puddle-x1 .ml {
  margin-left: 2px; }

section.L9-service-puddle-x1 .mb {
  margin-bottom: 2px; }

section.L9-service-puddle-x1 .mr {
  margin-right: 2px; }

.L9-w800px {
  width: 800px; }

.L9-opa50 {
  opacity: 0.4;
  border: solid 1px #52565f; }

.L9-what-we-do-title {
  font-weight: 300;
  font-size: 24px;
  color: #52565f;
  line-height: 36px; }

.L9-h100 {
  height: 100%; }
  @media screen and (max-width: 600px) {
    .L9-h100 {
      height: inherit; } }

.L9-pad8 {
  padding: 12px; }

h2.L9-h2 {
  font-weight: 300;
  font-size: 46px;
  color: #eccf2f; }

.L9-op5 {
  opacity: 0.4; }

.L9-pad-horiz1 {
  padding-left: 116px;
  padding-right: 116px; }

.L9-search-form {
  display: inline-block;
  float: right;
  padding: 16px; }

.L9-services-quote-img {
  background: url(http://static2.businessinsider.com/image/55d4ccbf2acae717448bf0ce-480/barack-obama-smile.jpg) no-repeat center/cover;
  height: 400px;
  width: 100%; }

@media screen and (max-width: 959px) {
  .L9-services-quote-img {
    width: 100vw; } }

.L9-services-quote-txt {
  margin-top: 38px;
  padding: 32px; }

.L9-bg-c1 {
  background-color: #8C9BAA;
  min-height: 400px; }
  .L9-bg-c1 h1, .L9-bg-c1 h2, .L9-bg-c1 h3, .L9-bg-c1 h4, .L9-bg-c1 h5, .L9-bg-c1 h6 {
    padding-top: 170px; }
  .L9-bg-c1 div.L9-resources-title {
    font-weight: bolder;
    font-size: 94px;
    text-transform: uppercase; }
  .L9-bg-c1 h1.rh1 {
    padding-top: 0;
    color: #8C9BAA;
    font-weight: bolder; }
  .L9-bg-c1 div.rc {
    background-color: #52565f;
    text-align: center; }

.L9-bg-c2 {
  background-color: #8C9BAA;
  min-height: 200px; }
  .L9-bg-c2 h1, .L9-bg-c2 h2, .L9-bg-c2 h3, .L9-bg-c2 h4, .L9-bg-c2 h5, .L9-bg-c2 h6 {
    padding-top: 80px; }

.L9-w100 {
  width: 100%; }

section.L9-service-hero {
  background: url(http://lab916.wpengine.com/img/t-service-hero.jpg) no-repeat center/cover;
  color: #ffffff;
  height: 60%; }
  section.L9-service-hero h1, section.L9-service-hero h2, section.L9-service-hero h3 {
    color: #ffffff; }

section.L9-service-sbs {
  min-height: 400px; }

div.L9-left-sbs-img {
  position: relative; }
  div.L9-left-sbs-img img {
    position: absolute;
    top: -320px;
    left: -410px;
    max-width: 800px; }
  @media screen and (max-width: 600px) {
    div.L9-left-sbs-img img {
      position: static;
      width: 100%;
      top: 0;
      left: 0; } }
  @media screen and (min-width: 1060px) {
    div.L9-left-sbs-img img {
      left: -350px; } }
  @media screen and (min-width: 1160px) {
    div.L9-left-sbs-img img {
      left: -310px; } }
  @media screen and (min-width: 1260px) {
    div.L9-left-sbs-img img {
      left: -270px; } }
  @media screen and (min-width: 1360px) {
    div.L9-left-sbs-img img {
      left: -230px; } }
  @media screen and (min-width: 1460px) {
    div.L9-left-sbs-img img {
      left: -190px; } }
  @media screen and (min-width: 1560px) {
    div.L9-left-sbs-img img {
      left: -150px; } }
  @media screen and (min-width: 1680px) {
    div.L9-left-sbs-img img {
      left: -90px; } }
  @media screen and (min-width: 1780px) {
    div.L9-left-sbs-img img {
      top: -290px;
      left: -50px; } }

div.L9-right-sbs-img {
  position: relative; }
  div.L9-right-sbs-img img {
    position: absolute;
    top: -320px;
    right: -440px;
    max-width: 800px;
    box-shadow: -5px 10px 18px rgba(201, 197, 224, 0.7); }
  @media screen and (max-width: 600px) {
    div.L9-right-sbs-img img {
      position: static;
      width: 100%;
      top: 0;
      left: 0; } }
  @media screen and (min-width: 1060px) {
    div.L9-right-sbs-img img {
      right: -380px; } }
  @media screen and (min-width: 1160px) {
    div.L9-right-sbs-img img {
      right: -340px; } }
  @media screen and (min-width: 1260px) {
    div.L9-right-sbs-img img {
      right: -300px; } }
  @media screen and (min-width: 1360px) {
    div.L9-right-sbs-img img {
      right: -260px; } }
  @media screen and (min-width: 1460px) {
    div.L9-right-sbs-img img {
      right: -220px; } }
  @media screen and (min-width: 1560px) {
    div.L9-right-sbs-img img {
      right: -180px; } }
  @media screen and (min-width: 1680px) {
    div.L9-right-sbs-img img {
      right: -120px; } }
  @media screen and (min-width: 1780px) {
    div.L9-right-sbs-img img {
      top: -290px;
      right: -80px; } }

h2.L9-h2-sbs {
  font-weight: 300;
  font-size: 34px;
  color: #eccf2f; }

p.L9-p-sbs {
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #8C9BAA; }

div.L9-para, p.L9-para {
  color: #52565f;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px; }
  div.L9-para strong, p.L9-para strong {
    font-size: 22px; }

.L9-sub-footer-translude {
  color: #c4bd14;
  background-color: whitesmoke;
  padding: 16px; }

.L9-content-opt-fw-img {
  background: url(https://lab916.wpengine.com/img/L9-ph-lg.jpg) no-repeat center/cover;
  height: 70vh; }

.L9-content-opt-row4 {
  margin-top: 100px; }
  .L9-content-opt-row4 div.lhs-img {
    background: url(http://via.placeholder.com/500x900) no-repeat center/cover;
    height: 100vh; }
  .L9-content-opt-row4 div.img-v2 {
    background: url(http://via.placeholder.com/500x900) no-repeat center/cover;
    height: 600px; }
  .L9-content-opt-row4 div.rhs-txt {
    padding-left: 42px; }
  .L9-content-opt-row4 div.lhs-txt {
    padding-right: 42px; }
  .L9-content-opt-row4 div.L9-btm-img {
    margin-top: 100px;
    background-color: #cccccc; }

.L9-whyL9-dropdown {
  cursor: pointer; }

.md-fab.docs-scroll-fab {
  position: fixed !important;
  transition: transform 0.2s; }

button#L9-scroll2top {
  background: #c4bd14; }

.L9-why-us-nbr {
  padding: 24px;
  background-color: #8C9BAA;
  display: inline-block;
  color: #ffffff; }

section.L9-clients-row {
  height: 150px;
  background-color: #8C9BAA;
  font-weight: bolder; }

.L9-content-opt-row2 div.rhs {
  background: url(http://via.placeholder.com/500x900) no-repeat center/cover;
  height: 100vh; }

.L9-content-opt-hero {
  background: url(http://lab916.wpengine.com/img/L9-ph-lg.jpg) no-repeat center/cover;
  height: 100vh; }

.L9-full-view-hero {
  height: 100vh; }

.L9-hero-landing .L9-hero-landing-inner {
  width: 1020px; }

.L9-hero-landing h1.L9-hero-h1 {
  color: #52565f;
  font-weight: 300;
  font-size: 54px;
  margin-bottom: 0; }

.L9-hero-landing p {
  color: #52565f;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px; }

.L9-hero-landing .L9-hero-img {
  position: absolute;
  right: -70px;
  bottom: 0; }

.L9-hero-landing .L9-lwrap {
  width: 580px; }

.L9-hero-landing .L9-pos-rel {
  position: relative; }

@media screen and (max-width: 600px) {
  .L9-hero-landing .L9-hero-img {
    position: static;
    width: 100%; }
  .L9-hero-landing h1.L9-hero-h1 {
    margin-top: 0;
    font-size: 30px; }
  .L9-hero-landing p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300; }
  .L9-hero-landing .L9-lwrap {
    text-align: center;
    width: 100%; } }

.L9-figcaption {
  color: #aaaaaa;
  font-size: 16px; }

.L9-break {
  display: block;
  margin: 4px 0;
  background-color: #c4bd14;
  min-height: 8px; }

.L9br {
  margin: 20px 0;
  display: block; }

.L9-height4 {
  height: 400px; }

.L9-resource-card-width {
  width: 1128px; }

div.L9-inline-block-resource-card-container {
  display: inline-block;
  width: 350px;
  margin: 20px 8px; }

l9-resource-card .L9-resource-card-container {
  display: inline-block;
  margin: 12px;
  max-width: 32%;
  min-width: 30%;
  box-shadow: 5px 10px 8px #8C9BAA; }
  l9-resource-card .L9-resource-card-container .img-top {
    background: url(http://via.placeholder.com/300x250) no-repeat center/cover;
    min-height: 150px; }
    l9-resource-card .L9-resource-card-container .img-top h1, l9-resource-card .L9-resource-card-container .img-top h2, l9-resource-card .L9-resource-card-container .img-top h3, l9-resource-card .L9-resource-card-container .img-top h4, l9-resource-card .L9-resource-card-container .img-top h5, l9-resource-card .L9-resource-card-container .img-top h6 {
      padding-top: 20px; }
  l9-resource-card .L9-resource-card-container div.L9-resource-para {
    height: 100px;
    max-height: 100px; }

.L9-full-width-next-service-link {
  min-height: 250px;
  background: url(https://lab916.wpengine.com/img/full-width-short-img.jpg) no-repeat center/cover; }

.L9-sub-footer-container {
  margin: 48px 0;
  padding: 28px; }
  .L9-sub-footer-container .L9-sub-footer-col {
    border: solid rgba(140, 155, 170, 0.5) 1px;
    cursor: pointer; }

.L9-footer-container {
  background: #424242;
  /*color: #fdb311;*/
  color: whitesmoke; }
  .L9-footer-container a {
    color: #ffffff;
    text-decoration: none; }

.L9-footer-container h1 {
  color: whitesmoke; }

.L9-text-center {
  text-align: center; }

.L9-ul-none {
  list-style-type: none; }

.L9-ul-none > li {
  margin-top: 8px; }

.L9-text-right {
  text-align: right; }

.L9-text-left {
  text-align: left; }

.L9-w33 {
  width: 33%; }

.L9-hero-h1 {
  font-size: 48px;
  color: whitesmoke; }

.L9-btn {
  padding: 12px; }

.L9-hero-landing-629px {
  height: auto;
  width: 100%; }

@media screen and (min-width: 1200px) {
  .L9-hero-landing-629px {
    height: 629px; } }

.L9-bg-hero-img {
  background-image: url(../images/hero-banner-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#L9-main-nav.topnav {
  background-color: #ffffff;
  overflow: hidden;
  padding: 24px;
  /* Style the links inside the navigation bar */ }
  #L9-main-nav.topnav .L9-icon {
    display: none; }
  #L9-main-nav.topnav a {
    float: right;
    color: #fdb311;
    text-align: center;
    padding: 32px 16px;
    text-decoration: none;
    font-size: 17px; }
  #L9-main-nav.topnav a.L9-nav-logo {
    float: left;
    padding: 2px; }
    #L9-main-nav.topnav a.L9-nav-logo img {
      vertical-align: middle; }
    @media screen and (max-width: 432px) {
      #L9-main-nav.topnav a.L9-nav-logo small {
        display: none; } }
  #L9-main-nav.topnav a:hover {
    background-color: #ddd;
    color: #434343; }
  #L9-main-nav.topnav a.active {
    background-color: #fdb311;
    color: white; }

@media screen and (max-width: 936px) {
  #L9-search-bar {
    display: none; }
  #L9-main-nav.topnav {
    padding: 8px; }
    #L9-main-nav.topnav > a.L9-nav-link {
      display: none; }
    #L9-main-nav.topnav .L9-icon {
      display: block;
      float: right;
      z-index: 999; }
  #L9-main-nav.topnav.responsive {
    position: relative;
    transition: all 200ms linear; }
    #L9-main-nav.topnav.responsive .L9-icon {
      position: absolute;
      top: 0;
      right: 0; }
    #L9-main-nav.topnav.responsive a.L9-nav-link {
      float: none;
      display: block;
      text-align: right;
      transition: all 200ms linear; }
      #L9-main-nav.topnav.responsive a.L9-nav-link:hover {
        background-color: #fbed80;
        transition: all 200ms linear; }
      #L9-main-nav.topnav.responsive a.L9-nav-link.get-a-quote {
        margin-top: 84px; }
    #L9-main-nav.topnav.responsive a.L9-nav-link.L9-nav-link-why-us {
      display: none; }
  #L9-temp2-drop-nav {
    display: none; } }
