<l9-full-view-hero l9-template-info="pagesCtrl.careerTemplateInfo" l9-hero-down="pagesCtrl.heroScrollDown()"></l9-full-view-hero>

<!-- We're hiring intro -->
<section id="L9-view-row1" layout="column" layout-gt-sm="row" layout-align="center center" layout-padding layout-margin>
    <div flex="40">
        <img src="http://via.placeholder.com/500x700" alt="img" width="100%">
    </div>
    <div flex="40">
        <div class="L9-text-center">
            <h4>We're hiring !</h4>
            <h1>The Lab 916 Story</h1>
            <h3>Thanks for your interest (:</h3>
        </div>
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus eius et fuga incidunt, iusto labore libero minus modi molestiae molestias, necessitatibus, nesciunt officiis pariatur quibusdam quis quisquam tempora unde!</span>
            <span>Accusantium aliquid doloremque dolores, excepturi ipsam iste soluta. Amet consectetur cum dolorem eligendi ipsam minus neque officiis omnis reiciendis voluptates! Cum dolore eum ipsum iste libero nisi possimus sequi, voluptates.</span>
            <span>Consequuntur dignissimos doloremque doloribus eum exercitationem illo illum itaque minima mollitia nobis nulla, odio optio quibusdam quisquam recusandae tempore tenetur vitae. Animi eligendi odio pariatur saepe sint tenetur? Eveniet, similique.</span>
        </p>
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus eius et fuga incidunt, iusto labore libero minus modi molestiae molestias, necessitatibus, nesciunt officiis pariatur quibusdam quis quisquam tempora unde!</span>
            <span>Accusantium aliquid doloremque dolores, excepturi ipsam iste soluta. Amet consectetur cum dolorem eligendi ipsam minus neque officiis omnis reiciendis voluptates! Cum dolore eum ipsum iste libero nisi possimus sequi, voluptates.</span>
            <span>Consequuntur dignissimos doloremque doloribus eum exercitationem illo illum itaque minima mollitia nobis nulla, odio optio quibusdam quisquam recusandae tempore tenetur vitae. Animi eligendi odio pariatur saepe sint tenetur? Eveniet, similique.</span>
        </p>
    </div>
</section>

<br><br>

<!-- Row 4: just a full width img -->
<section layout="row" layout-sm="column" layout-xs="column" layout-align="center center" class="L9-content-opt-fw-img"></section>

<br><br>

<!-- Input Form -->
<section layout="row" layout-align="center center">
    <div flex flex-gt-sm="70">
        <md-content layout-padding>
            <form name="userForm">
                <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                    <md-input-container>
                        <md-switch ng-model="showHints">Showing {{showHints ? "Hints" : "Errors"}}</md-switch>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input md-maxlength="30" required name="name" ng-model="user.name" />

                        <div class="hint" ng-if="showHints">Tell us what we should call you!</div>

                        <div ng-messages="userForm.name.$error" ng-if="!showHints">
                            <div ng-message="required">Name is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                        </div>
                    </md-input-container>

                    <div flex="5" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Social Security Number</label>
                        <input name="social" ng-model="user.social" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" />

                        <div class="hint" ng-if="showHints">###-##-####</div>

                        <div ng-messages="userForm.social.$error" ng-if="!showHints">
                            <div ng-message="pattern">###-##-#### - Please enter a valid SSN.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input name="email" ng-model="user.email"
                               required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                        <div class="hint" ng-show="showHints">How can we reach you?</div>

                        <div ng-messages="userForm.email.$error" ng-hide="showHints">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>

                    <div flex="5" hide-xs hide-sm>
                        <!-- Spacer //-->
                    </div>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Phone Number</label>
                        <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" />

                        <div class="hint" ng-show="showHints">(###) ###-####</div>

                        <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                            <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
                        </div>
                    </md-input-container>

                    <style>
                        /*
                         * The Material demos system does not currently allow targeting the body element, so this
                         * must go here in the HTML.
                         */
                        body[dir=rtl] .hint {
                            right: 2px;
                            left: auto;
                        }
                    </style>
                </div>
            </form>
        </md-content>
    </div>
</section>


<!-- end of html file -->